body {
  margin: 0;
  font-family: monospace;
}

#guess-who-image {
  display: flex;
  justify-content: center;
  opacity: .8;
  padding: 1rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}



button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.add-toy-form {
  width: 80%
}
